{% extends "base.html "%}
{% load static %}

{% block content %}
  <div class="container">
        <div class="row">
            
            <div class="col-sm">
                <div class="card" style="width: auto;">
                       <div class="card-body">
                            <h1 class="card-title">Course title will go here</h1>
                            <p class="card-text">course description will go here</p>
                       </div>
                </div>
            </div>
            
        </div>
  </div>

{% endblock %}