{% extends "base.html "%}
{% load static %}

{% block content %}

<div class="card-group">
    
    <div class="card">
        <div class="card-body">
          <h2 class="card-title">course.title</h2>
          <p class="card-text">course description goes here</p>
          <p class="card-text"><small class="text-muted">Last updated: course last_updated goes here</small></p>
          <a href="#" class="btn btn-primary">Go to course details</a>
        </div>
      </div>
   
</div>

{% endblock %}

