 
 .header {
     background-color: darkgray;
     height: 60px;
     text-align: center;
     padding: 5px;
     color: black;
 }
 .main_menue{
     font-size: large;
     font-weight: bold;
     background-color: cornsilk;
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     
 }

 .main_menue a{
     text-decoration: none;
 }

 .main_menue a:hover{
    text-decoration: underline;
    color: black;
}

.main_menue a:active{
   
    color: blue;
}
.section {
    display: flex;
    
}
.section .side{
    background-color: burlywood;
    flex: 1;
}
.section .article{
    background-color:cadetblue;
    flex: 3;
}
.section > .side a{
    display: block;
}